.main-body{
    margin: 10px;
}

#imageChangeBtn{
    color: #fff;
    background-color: green;
    width: 100px;
    height: 50px;
    border: 2px solid black
}

.image-wrapper{
    height: 300px;
    width: 400px;
    margin-bottom: 10px;
}

.image{
    height: 100%;
    width: 100%;
}